* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/images/tree.png);
  width: 100%;
  height: 100vh;
  position: relative;
}

.boy {
  position: absolute;
  transform: scale(0.4, 0.4);
  top: 60px;
  right: 250px;
  animation: swing 2s infinite alternate;
}

.big {
  height: 150px;
}

.medium {
  height: 125px;
}

.small {
  height: 100px;
}

.above-cloud {
  position: relative;
  top: 25px;
  z-index: -1;
}

.below-cloud {
  position: relative;
  top: 75px;
  z-index: -1;
}

.right-move-cloud {
  animation: goRight 15s infinite alternate;
}

.left-move-cloud {
  animation: goLeft 15s infinite alternate;
}

@keyframes swing {
  0% {
    transform: rotate(8deg) scale(0.4, 0.4);
    right: 282px;
  }
  12.5% {
    transform: rotate(6deg) scale(0.4, 0.4);
    right: 274px;
  }
  25% {
    transform: rotate(4deg) scale(0.4, 0.4);
    right: 266px;
  }
  37.5% {
    transform: rotate(2deg) scale(0.4, 0.4);
    right: 258px;
  }
  50% {
    transform: rotate(0deg) scale(0.4, 0.4);
    right: 250px;
  }
  62.5% {
    transform: rotate(-2deg) scale(0.4, 0.4);
    right: 242px;
  }
  75% {
    transform: rotate(-4deg) scale(0.4, 0.4);
    right: 236px;
  }
  87.5% {
    transform: rotate(-6deg) scale(0.4, 0.4);
    right: 228px;
  }
  100% {
    transform: rotate(-8deg) scale(0.4, 0.4);
    right: 220px;
  }
}

@keyframes goRight {
  0% {
    right: 100vw;
  }
  12.5% {
    right: 87.5vw;
  }
  25% {
    right: 75vw;
  }
  37.5% {
    right: 62.5vw;
  }
  50% {
    right: 50vw;
  }
  62.5% {
    right: 37.5vw;
  }
  75% {
    right: 25vw;
  }
  87.5% {
    right: 12.5vw;
  }
  100% {
    right: 0vw;
  }
}

@keyframes goLeft {
  0% {
    left: 100vw;
  }
  12.5% {
    left: 87.5vw;
  }
  25% {
    left: 75vw;
  }
  37.5% {
    left: 62.5vw;
  }
  50% {
    left: 50vw;
  }
  62.5% {
    left: 37.5vw;
  }
  75% {
    left: 25vw;
  }
  87.5% {
    left: 12.5vw;
  }
  100% {
    left: 0vw;
  }
}
